.ser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    
}

.te1{
    font-size: 25px;
    margin-top: 0px;
    color: #1e304d;
}

.te2{
    font-weight: 100;
    color: #79798b;
    font-size: 14px;
}