.setmsg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15%;
    right: 5%;
    z-index: 999;
    width: 500px;
    height: 100px;
    animation: fadeIn 0.5s ease-in-out;

    .innermsg{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 2rem;
        border-radius: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
        color: black;
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
        min-width: 250px;
        max-width: 400px;
        z-index: 999;
        
    }
}