.header{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: white;
    position: fixed;
    width: 1530px;
    z-index: 999;

    .left{
        margin-top: 5px;
        margin-left: 200px;
        cursor: pointer;
    }
    .right{
        display: flex;
        margin-top: 30px;
        margin-left: 500px;
        list-style: none;
        flex-direction: row;
        gap: 30px;
        cursor: pointer;
    }
}