.footer{
    display: flex;
    flex-direction: row;
    background-color: #fafbfc;
    
    width: 1530px;
    z-index: 999;

    .foot-left{
        color: #1e304d;
        margin-top: 5px;
        margin-left: 200px;
    }
    .foot-right{
        display: flex;
        margin-top: 30px;
        margin-left: 780px;
        color: #79798b;
        gap: 30px;
    }
}